<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:fragment="batchStartConfirmation" th:remove="tag">Batch has maybe started! We don't check the status before returning this message ¯\_(ツ)_/¯</div>

<ul th:fragment="tasksList (tasks)"
    th:remove="tag">
    <li th:each="task : ${tasks}" th:insert="~{fragments :: taskListItem (task) }"
        class="bg-gray-700 p-4 rounded-xl flex items-center justify-between"></li>
</ul>

<li th:fragment="taskListItem (task)"
    th:remove="tag">
    <label th:text="${task.value}"
    class="bold"></label>
    <button hx-post="/workflows/start/128090641501184"
            hx-target="#confirmation-message"
            class="bg-green-600 hover:bg-green-500 text-white px-4 py-2 rounded-lg transition">Start
    </button>
</li>

</html>