<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script type="text/javascript" src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
<h1>Dolphinscheduler-scheduler</h1>

<ul>
    <li th:each="task : ${tasks}">
        <label th:text="${task.value}"></label>
        <button hx-post="/workflows/start/128090641501184"
                hx-target="#confirmation-message">Start
        </button>
    </li>
</ul>

<div id="confirmation-message"></div>

</body>
</html>
