<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script type="text/javascript" src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
<h1>DolphinScheduler-scheduler</h1>

<button hx-get="/workflows/refresh"
        hx-target="#task-list">refresh</button>

<ul id="task-list" th:insert="~{fragments :: tasksList (${tasks})}" th:remove="tag"></ul>

<div id="confirmation-message"></div>

</body>
</html>
